version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: dockerfile
    container_name: livecode-backend
    restart: always
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: livecode
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: redis-cache
    restart: always
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
